
body{
    background-color:black;
}

.logo{
    display: inline-block;
    
     left:calc(50% - 50px ); 
     /* border-radius: 50px;  */
    widows: 80px;
    height: 80px;
    margin-left:2%;
    margin-right: 2%;

}


nav{
    display: inline;
}


.Booking{
    
       width: 800px;
        height: 350px;
        background: #000;
        color: #fff;
        top: 38%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        border-radius: 15px;
        padding: 60px 30px;
        /* margin: 5%; */
        align-content: center;
        box-shadow: #fff;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        
}

.Booking input[type="text"],input[type="password"],input[type="Email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline:none;
    height: 30px;
    color: #fff;
    font-size: 16px;
    left:40%;
    box-align: center;
    text-align: center;
  
}

#Login,.Booking input[type="Submit"] {
    border: none;
    outline:none;
    height: 40px;
    background: cadetblue;
    color: #fff;
    font-size: 18px;
    border-radius:5px;
    width: 80%;
    align-content: center;
    margin-left: 7%;
    margin-bottom: 5%
    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
  }
  
  li {
    float:left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    float: right;
  }
  
  li a:hover {
    background-color:cadetblue;
    border-radius: 3px;
  }
  .logo{
    margin-left: 2px;
    margin-top: 0px;
    float: right;
  }

  /* side navigation */
  body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    
  
}


.sidenav a:hover {
  background-color: cadetblue;
  border-radius: 2px;
  

}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

span
{
  color: white;
}


