
body{
    background-color:black;
}

.logo{
    display: inline-block;
    
     left:calc(50% - 50px ); 
     /* border-radius: 50px;  */
    widows: 80px;
    height: 80px;
    margin-left:2%;
    margin-right: 2%;

}


nav{
    display: inline;
}


.Booking{
    
       width: 800px;
        height: 350px;
        background: #000;
        color: #fff;
        top: 38%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        border-radius: 15px;
        padding: 60px 30px;
        /* margin: 5%; */
        align-content: center;
        box-shadow: #fff;
font-family: 'Courier New', Courier, monospace;
        
        
}

.Booking input[type="text"],input[type="password"],input[type="Email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline:none;
    height: 30px;
    color: #fff;
    font-size: 16px;
    left:40%;
    box-align: center;
    text-align: center;
  
}

#Login,.Booking input[type="Submit"] {
    border: none;
    outline:none;
    height: 40px;
    background: cadetblue;
    color: #fff;
    font-size: 18px;
    border-radius:5px;
    width: 80%;
    align-content: center;
    margin-left: 7%;
    margin-bottom: 5%
    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
  }
  
  li {
    float:left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    float: right;
  }
  
  li a:hover {
    background-color:cadetblue;
    border-radius: 3px;
  }
  .logo{
    margin-left: 2px;
    margin-top: 0px;
    float: right;
  }


